.bodyContainer {
    display: grid;
    place-content: center;
    padding-top: 200px;
    width: 100vw;
}

.bodyContent {
    /* background-color: aqua; */
    width: 70vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

}

.genre {
    background-color: rgb(54, 56, 60);
    color: white;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    margin-bottom: 30px;
}

.sliderContainer {
    display: flex;
    padding: 10px 55px;
    /* overflow: hidden; */
    width: 80vw;
    max-width: 80vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    flex: 0 0 19.7%;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
    max-width: 300px;
}

.sliderContainer:hover .item {
    transform: translateX(-25%);
}

.item:hover ~ .item {
    transform: translateX(25%);
}

.item:hover {
    transform: scale(1.25) !important;
}

.poster {
    height: 350px;
    width: auto;
}

.descriptionContainer {
    height: 85vh;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -48%);
    -moz-box-shadow: 0 0 20px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 20px rgb(0, 0, 0);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 30px;
    display: grid;
    place-items: center;
    z-index: 1;
}

.closeDescription {
    height: 5vh;
    width: 3vw;
    position: absolute;
    top: 10px;
    right: 0;
}

.closeButton {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.hidden {
    display: none;
}

.innerDescription {
    width: 90%;
    height: 80%;
    /* background-color: grey; */
    display: flex;
    justify-content: space-between;
}

.descriptionLeft {
    /* background-color: green; */
    width: 45%;
    height: 100%;   
}

.descriptionRight {
    width: 45%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;  
}

.posterBig {
    box-shadow: 0 0 20px rgb(0, 0, 0);
    height: 800px;
    width: auto;
}

.title {
    width: 100%;
    height: 20%;
    display: grid;
    place-content: center;
    overflow-wrap: break-word;
    font-size: 3em;
    color: white;
}

.overview {
    color: white;
    display: grid;
    place-content: center;
    font-size: 1.5em;
}

.voteAverage {
    color: white;
    font-size: 2em;
    text-align: center;
}